@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

* {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --sedans: #e28525;
  --suvs: #016972;
  --luxury: #00403f;
}

body {
  height: 100vh;
  font-size: 1.6rem;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  grid-auto-flow: column;
  height: fit-content;
  min-width: 95rem;
  width: calc(100% - 100px);
  max-width: 100rem;
  padding: 1.5rem;
}

.container > * {
  display: grid;
  color: white;
  padding: 5rem;
}

.img {
  margin-bottom: 3rem;
}

.img img {
  width: 7rem;
}

.sedans {
  background-color: var(--sedans);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.suvs {
  background-color: var(--suvs);
}

.luxury {
  background-color: var(--luxury);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.button {
  color: var(--btn-color);
  background-color: white;
  width: fit-content;
  padding: 1.5rem 3rem;
  border-radius: 35px;
  cursor: pointer;
  margin-top: 7rem;
  font-weight: bold;
  outline: none;
  border: none;
  font-size: 1.6rem;
  transition: 0.3s;
  border: 2px solid transparent;
}

.button:hover {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.title {
  font-family: "Big Shoulders Display", cursive;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 4rem;
  margin-bottom: 3rem;
}

.content {
  line-height: 2;
  color: #eeeeeeed;
  font-weight: bold;
  font-size: clamp(1.45rem, 2vw, 1.6rem);
}

@media (width < 970px) {
  body {
    align-items: normal;
  }
  .container {
    grid-auto-flow: row;
    min-width: 30rem;
    width: calc(100% - 100px);
    max-width: 60rem;
  }

  .sedans {
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0rem !important;
  }

  .luxury {
    border-top-right-radius: 0rem !important;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  .button {
    margin-top: 5rem;
  }
}

@media (530px <= width <= 970px) {
  .button {
    width: 100%;
  }
}
          